---

interface Props {
    url: string;
    title: string;
}

const { url, title } = Astro.props;

---

<section class="lg:w-28 h-28 flex flex-col justify-center items-center shadow-md rounded-3xl transition-transform duration-300 transform hover:scale-110 hover:cursor-pointer bg-classic-colorBoton ">
    <div>
        <img src={url} alt="icono" class="object-cover" />
    </div>
    <div>
        <h1 class="text-lg font-medium">{title}</h1>
    </div>
</section>
