<div id="educacion" class="text-center p-7 ">
  <div class="flex flex-col lg:flex-row items-start justify-between px-6 md:px-20 lg:px-40 xl:px-60 mb-5 space-y-6 lg:space-y-0 lg:space-x-10">
    <!-- Contenedor de Educación -->
    <div class="w-full lg:w-1/3 flex-grow space-y-6 border-l-2 border-dashed dark:border-gray-800 pl-6 dark:text-white">
      <h2 class="text-2xl md:text-2xl lg:text-2xl font-bold mb-4 font-mono" data-aos="zoom-in" data-aos-duration="2000"  >Educación</h2>
      <!-- Educación 1 -->
      <div class="relative w-full" data-aos="fade-up" data-aos-duration="2000">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-10 h-7 w-7 rounded-full text-classic-secundary dark:text-classic-primary">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div >
          <h4 class="font-semibold text-black dark:text-white">Liceo académico Belén de Carrillo, Guanacaste, Costa Rica.</h4>
          <p class="mt-2 max-w-screen-sm text-sm text-black dark:text-white">Bachillerato en Educación Media.</p>
          <span class="mt-1 block text-sm font-semibold text-black dark:text-white">2014-2019</span>
        </div>
      </div>
      <!-- Educación 2 -->
      <div class="relative w-full" data-aos="fade-up" data-aos-duration="2000">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-10 h-7 w-7 rounded-full text-classic-secundary dark:text-classic-primary">
          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
        </svg>
        <div>
          <h4 class="font-semibold text-black dark:text-white">Universidad de Costa Rica.</h4>
          <p class="mt-2 max-w-screen-sm text-sm text-black dark:text-white">Bachillerato en informática Empresarial.</p>
          <span class="mt-1 block text-sm font-semibold text-black dark:text-white">2021-actualmente</span>
        </div>
      </div>
    </div>
    <!-- Contenedor de Certificaciones -->
    <div class="w-full lg:w-2/3 flex flex-col lg:flex-row space-y-0 lg:space-y-0 lg:space-x-10">
      <div class="w-full lg:w-1/2 flex-grow space-y-6 border-l-2 border-dashed dark:border-gray-800 pl-6">
        <h2 class="text-2xl font-bold mb-4  md:text-2xl lg:text-2xl dark:text-white font-mono" data-aos="zoom-in" data-aos-duration="2000">Certificaciones</h2>
        <!-- Certificación 1 -->
        <div class="relative w-full" data-aos="fade-up" data-aos-duration="2000">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-10 h-7 w-7 rounded-full text-classic-secundary dark:text-classic-primary">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
          </svg>
          <div>
            <h4 class="font-semibold text-black dark:text-white">Metodología ágil SCRUM.</h4>
            <p class="mt-2 max-w-screen-sm text-sm text-black dark:text-white">Certificado obtenido en la plataforma de PLATZI</p>
            <span class="mt-1 block text-sm font-semibold text-black dark:text-white">29/03/2024</span>
          </div>
        </div>
        <!-- Certificación 2 -->
        <div class="relative w-full" data-aos="fade-up" data-aos-duration="2000">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-10 h-7 w-7 rounded-full text-classic-secundary dark:text-classic-primary">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
          </svg>
          <div>
            <h4 class="font-semibold text-black dark:text-white">Desarrollo web en Astro.</h4>
            <p class="mt-2 max-w-screen-sm text-sm text-black dark:text-white">Certificado obtenido en la plataforma de Platzi</p>
            <span class="mt-1 block text-sm font-semibold text-black dark:text-white">23/06/2024</span>
          </div>
        </div>
      </div>
      <div class="w-full lg:w-1/2 flex-grow space-y-6 border-l-2 border-dashed pl-6 dark:border-gray-800">
        <h2 class="text-2xl font-bold mb-4 invisible lg:visible  md:text-2xl lg:text-2xl dark:text-white font-mono" data-aos="zoom-in" data-aos-duration="2000">Certificaciones</h2>
        <!-- Certificación 3 -->
        <div class="relative w-full" data-aos="fade-up" data-aos-duration="2000">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-10 h-7 w-7 rounded-full text-classic-secundary dark:text-classic-primary">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
          </svg>
          <div class="ml-4 -mt-6 lg:mt-0">
            <h4 class="font-semibold text-black dark:text-white">Curso Básico de Tailwind.</h4>
            <p class="mt-2 max-w-screen-sm text-sm text-black dark:text-white">Certificado obtenido en la plataforma de PLATZI</p>
            <span class="mt-1 block text-sm font-semibold text-black dark:text-white">23/06/2024</span>
          </div>
        </div>        
        <!-- Certificación 4-->
        <div class="relative w-full" data-aos="fade-up" data-aos-duration="2000">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="absolute -top-0.5 z-10 -ml-10 h-7 w-7 rounded-full text-classic-secundary dark:text-classic-primary">
            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
          </svg>
          <div >
            <h4 class="font-semibold text-black dark:text-white">Curso Básico de React.</h4>
            <p class="mt-2 max-w-screen-sm text-sm text-black dark:text-white">Certificado obtenido en la plataforma de PLATZI</p>
            <span class="mt-1 block text-sm font-semibold text-black dark:text-white">30/08/2024</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
