---
import  Card  from "../components/Card.astro";
---
<section class="w-full h-auto text-center mt-4 p-4 border-y-4  border-gray-100">
  <h2 class="text-2xl font-bold mb-6">Habilidades Tecnicas</h2>
<section class="grid grid-cols-2 gap-6 md:grid-cols-3 lg:grid-cols-5">
    <Card url="/svg/Astro.svg" title="Astro Js" /> 
    <Card url="/svg/vuejs.svg" title="Vue Js" /> 
    <Card url="/svg/Css.svg" title="CSS" /> 
    <Card url="/svg/html5.svg" title="HTML5" />
    <Card url="/svg/react.svg" title="React" /> 
    <Card url="/svg/tailwind.svg" title="Tailwind" /> 
    <Card url="/svg/cshar.svg" title="C#" /> 
    <Card url="/svg/javascript.svg" title="JavaScript" /> 
    <Card url="/svg/laravel.svg" title="Laravel" /> 
    <Card url="/svg/java.svg" title="Java" /> 
    <Card url="/svg/MYSQL.svg" title="MySQL" /> 
    <Card url="/svg/PostGreSQL.svg" title="PostGreSQL" /> 

  </section>
  </section>