
<section class="w-full h-16 fixed bottom-0 flex rounded-t-3xl justify-around items-center md:hidden lg:hidden bg-classic-white z-50 backdrop-filter backdrop-blur-lg bg-opacity-100">
    <a href="#sobremi" class="text-white">
        <button><img src="../svg/home.svg" alt=""></button>
    </a>
    <a href="#proyectos" class="text-white">
        <button><img src="../svg/buscar.svg" alt=""></button>
    </a>
    <a href="#educacion" class="text-white">
        <button><img src="../svg/educacion.svg" alt=""></button>
    </a>
    <a href="#contacto" class="text-white">
        <button><img src="../svg/contacto.svg" alt=""></button>
    </a>
</section>
