<section class="w-full h-16 fixed bottom-0 flex rounded-t-3xl justify-around items-center md:hidden lg:hidden bg-white z-50 backdrop-filter backdrop-blur-lg bg-opacity-100 dark:bg-gray-700">
    <div>
        <a href="#sobremi" class="text-black">
            <button><img src="../svg/home.svg" alt=""></button>
        </a>
        <p class="text-black text-xs dark:text-white">Inicio</p>
    </div>
    <div>
        <a href="#proyectos" class="text-black">
            <button><img src="../svg/buscar.svg" alt=""></button>
        </a>
        <p class="text-black -ml-2 text-xs dark:text-white">Proyectos</p>
    </div>
    <div>
        <a href="#educacion" class="text-black">
            <button><img src="../svg/educacion.svg" alt=""></button>
        </a>
        <p class="text-black -ml-2 text-xs dark:text-white">Educacion</p>
    </div>
    <div>
        <a href="#contacto" class="text-black">
            <button><img src="../svg/contacto.svg" alt=""></button>
        </a>
        <p class="text-black -ml-2 text-xs dark:text-white">Contacto</p>
    </div>
</section>

<style>
    html {
        scroll-behavior: smooth;
    }
</style>
