<section class="mt-8">
    <h1 class="text-2xl font-mono font-light">Quieres ver todos los proyectos?</h1>
    <div>
      <div class="mt-4">
      <a href="./projects" >
        <button class="w-30 h-16 bg-blue-900 -full text-classic-white cursor-pointer transition-all px-6 py-2 rounded-lg
        border-blue-950 text-white border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
          active:border-b-[2px] active:brightness-90 active:translate-y-[2px]  dark:bg-classic-primary dark:border-grey-900 dark:text-black">Ver mas proyectos...</button>
      </a>
    </div>
    </div>
  </section>