---
import MenuButton from './MenuButton.jsx';
---

<section class="w-full h-20 flex justify-end md:justify-center md:items-center lg:justify-center lg:items-center relative">
    <nav id="menu" class="hidden lg:flex md:flex justify-center items-center gap-11 p-7 text-classic-black text-2xl text-fontFamily-sans">
        <a class="hover:bg-classic-secundary p-2 rounded-3xl hover:text-classic-white transition-transform duration-300 transform hover:scale-105" href="#">Sobre Mi</a>
        <a class="hover:bg-classic-secundary p-2 rounded-3xl hover:text-classic-white transition-transform duration-300 transform hover:scale-105" href="#">Proyectos</a>
        <a class="hover:bg-classic-secundary p-2 rounded-3xl hover:text-classic-white transition-transform duration-300 transform hover:scale-105" href="#">Contacto</a>
        <a class="hover:bg-classic-secundary p-2 rounded-3xl hover:text-classic-white transition-transform duration-300 transform hover:scale-105" href="#">Educacion</a>
    </nav>
</section>


