

<section class="w-full h-20 flex justify-end md:justify-center md:items-center lg:justify-center lg:items-center relative">
    <nav id="menu" class="hidden lg:flex md:flex justify-center items-center gap-11  text-classic-colorFuente text-xl text-fontFamily-sans">
        <a class="hover:border-b-2 hover:border-b-classic-secundary  hover:text-classic-colorFuente" href="#sobremi">Sobre Mi</a>
        <a class="hover:border-b-2 hover:border-b-classic-secundary hover:text-classic-colorFuente" href="#proyectos">Proyectos</a>
        <a class="hover:border-b-2 hover:border-b-classic-secundary hover:text-classic-colorFuente" href="#contacto">Contacto</a>
        <a class="hover:border-b-2 hover:border-b-classic-secundary hover:text-classic-colorFuente" href="#educacion">Educacion</a>
    </nav>
</section>


