---
import CardProyectos from "./CardProyectos.astro";

---
<section id="proyectos" class="w-full h-auto text-center mt-4 p-4 border-b-4 border-gray-100">
    <h2 class="text-2xl font-bold mb-6">Proyectos</h2>
  <section class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    <CardProyectos urlImagen="img/Uver.jpeg" descripcion="Implemente el prototipo de un clon de uver en Vue Js, el cual utiliza la api de google maps y laravel como backEnd" tecnologias={["Vue Js", "Laravel" ,"Css"]}/>
    <CardProyectos urlImagen="img/Uver.jpeg" descripcion="Implemente el prototipo de un clon de uver en Vue Js, el cual utiliza la api de google maps y laravel como backEnd" tecnologias={["HTML", "CSS"]}/>
    <CardProyectos urlImagen="img/Uver.jpeg" descripcion="Implemente el prototipo de un clon de uver en Vue Js, el cual utiliza la api de google maps y laravel como backEnd" tecnologias={["HTML", "CSS"]}/>
    </section>
    </section>