---
import CardProyectos from "./CardProyectos.astro";
import MoreProjects from "./MoreProjects.astro";
---

<section
  id="proyectos"
  class="w-full h-auto text-center mt-4 p-4 border-y-4 border-gray-100 dark:text-white dark:border-gray-800">
  <h2
    class="text-2xl md:text-3xl lg:text-3xl font-bold mb-6 text-classic-white font-mono">
    Proyectos Destacados
  </h2>
  <section class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-3">
    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000">
      <CardProyectos
        titulo="Uver Clon"
        urlImagen="img/Uver.jpeg"
        descripcion="Implemente el prototipo de un clon de uver en Vue Js, el cual utiliza la api de google maps y laravel como backEnd, el sistema permite solicitar viajes y trazar la ruta en el mapa"
        tecnologias={["Vue Js", "Laravel", "Css", "Maps", "Mysql", "pinia", "localStorage"] }
        git="https://github.com/marcos1225/Proyecto_Uver_FrontEnd"
        urlWeb="https://uverclon.netlify.app/"
      />
    </div>
    <div data-aos="zoom-in">
      <CardProyectos
        titulo="Sistema de Oficinas"
        urlImagen="img/sistemaoficinas.jpeg"
        descripcion="El sistema de oficionas consiste en que el usuario pueda gestionar todo lo relacionado a la oficina, basicamente es a lo que le conocemos como CRUD (Create, Read, Update, Delete) en cualquier app, ademas se utilizo laravel como backEnd."
        tecnologias={["Vue Js", "Laravel", "Css"]}
        git="https://github.com/marcos1225/SistemaOficinas"
        urlWeb="https://sistemaoficinas.netlify.app/"
      />
    </div>
    <div
      data-aos="flip-left"
      data-aos-easing="ease-out-cubic"
      data-aos-duration="2000" >
      <CardProyectos
        titulo="Tienda de Guitarras"
        urlImagen="img/guitarla.JPG"
        descripcion="Este proyecto es una tienda de guitarras en Vue 3 que permite a los usuarios ver guitarras, añadirlas al carrito, ajustar cantidades, eliminar productos y vaciar el carrito. Usa la Composition API para el manejo reactivo del estado y guarda el carrito en el localStorage para persistencia."
        tecnologias={["Vue js", "CSS", "Javascript", "localStorage"]}
        git="https://github.com/marcos1225/tiendaguitar"
        urlWeb="https://storeguitarapp.netlify.app/"
      />
    </div>
  </section>
  <MoreProjects />
</section>
