
<div class="border-b-4 border-b-gray-100 dark:border-gray-800">
<section id="sobremi" class="w-screen h-auto mt-[-2rem] flex flex-col justify-center items-center gap-2 md:mt-10  lg:ml-20 lg:mt-14  lg:flex-row-reverse lg:w-[90%] lg:h-1/2 text-classic-colorFuente lg:rounded-lg dark:text-white">
  <div class="flex  flex-col items-center justify-center gap-6 lg:flex-col md:flex-row md:gap-6 lg:gap-4">
    <div class="w-52 h-52  lg:hidden rounded-full bg-[url('/img/Marcos.jpeg')] bg-cover bg-center md:w-44 md:h-44 md:animate-fade-right md:animate-duration-[1500ms] ">
    </div>
    <div class="w-full md:w-1/2 flex flex-col items-center md:animate-fade-left md:animate-duration-[1500ms] ">
      <div class="flex items-center justify-center md:pl-2 w-full mb-6 lg:hidden">
        <p class="text-base font-bold md:text-xl md:w-72">Disponible para trabajar</p>
        <div class="animate-wiggle-more animate-infinite">
          <a href="#contacto" class="cursor-pointer">
            <button class="transition-transform duration-300 transform hover:scale-125">
              <img src="../svg/llamar.svg" alt="contacto" class="ml-2">  
            </button>
          </a>
      </div>
      </div>
      <a class="lg:hidden" href="/Cv/Curriculum_Marcos.pdf" download>
        <button class="w-30 h-16 bg-blue-900 text-white -full text-classic-white cursor-pointer transition-all px-6 py-2 rounded-lg
      border-blue-950 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
        active:border-b-[2px] active:brightness-90 active:translate-y-[2px]  dark:bg-classic-primary dark:border-green-900 dark:text-black">Descargar CV</button>
      </a>
    </div>
  </div>
  <div class="w-full p-6 lg:flex-grow lg:w-1/2 lg:mt-0">
    <div class="flex items-center justify-center gap-2 flex-col lg:mb-12">
      <div class="flex items-center justify-center gap-5">
        <div class="animate-fade-up animate-duration-[1500ms] lg:animate-fade-right lg:animate-duration-[2000ms] lg:animate-delay-[400ms] lg:animate-ease-out lg:w-1/2">
          <h1 class="text-2xl mb-4 font-bold text-center lg:text-3xl  md:text-3xl lg:text-left">Hey 游녦, Mi nombre es Marcos, Desarrollador de Software</h1>
          <p class="mb-4 text-center lg:text-left">Guanacaste | Costa Rica</p>
          <div class="flex gap-5 justify-center items-center lg:justify-start">
            <div>
              <a href="https://www.instagram.com/marcos0964/" target="_blank">
                <button class="transition-transform duration-300 transform hover:scale-110"><img src="../svg/instagram.svg" alt="instagram" /></button>
              </a>
            </div>
            <div>
              <a href="https://www.linkedin.com/in/marcos-gonzalez-navarrete/" target="_blank">   
                <button class="transition-transform duration-300 transform hover:scale-110"><img src="../svg/linkedin.svg" alt="Linkedin" /></button>
              </a>
            </div>
            <div>
              <a href="https://github.com/marcos1225" target="_blank" rel="noopener noreferrer">
                <button class="transition-transform duration-300 transform hover:scale-110  rounded-full w-10 h-10 dark:bg-white"><img class="ml-1" src="../svg/github.svg" alt="github" /></button>
              </a>
            </div>
            <div>
              <a href="https://wa.me/+50663549134?text=Hola,%20estoy%20interesado%20en%20tus%20servicios" target="_blank">
                <button class="transition-transform duration-300 transform hover:scale-110">
                  <img src="../svg/whatsapp.svg" alt="whatsapp" />
                </button>
              </a>
            </div> 
          </div>
            </div>
            <div class="hidden  lg:block lg:w-44 lg:h-44 rounded-full bg-[url('/img/Marcos.jpeg')] bg-cover bg-center md:w-44 md:h-44 lg:animate-fade-left lg:animate-duration-[2000ms] lg:animate-delay-[400ms] lg:animate-ease-out">
            </div>
      </div>
      <div class="flex items-center justify-start mt-2">
         <a class="hidden md:hidden lg:block" href="/Cv/Curriculum_Marcos.pdf" download>
          <button class="w-30 h-16 bg-blue-900 text-white -full text-classic-white cursor-pointer transition-all px-6 py-2 rounded-lg
          border-blue-950 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
            active:border-b-[2px] active:brightness-90 active:translate-y-[2px]  dark:bg-classic-primary dark:border-grey-950  dark:text-black">Descargar CV</button>
      </a>
      <div class="hidden md:hidden lg:block">
        <div class="flex items-center justify-center w-full">
          <p class="text-base font-bold pl-9">Disponible para trabajar</p>
          <div class="animate-wiggle-more animate-infinite">
            <a href="#contacto" class="cursor-pointer">
              <button class="transition-transform duration-300 transform hover:scale-125">
                <img src="../svg/llamar.svg" alt="contacto" class="ml-2">  
              </button>
            </a>
        </div>
        </div>
      </div>
      </div>
    </div>
    <p class="text-lg text-justify lg:text-justify animate-fade-up animate-duration-[1500ms] lg:-mt-8">
      Soy un desarrollador de <span class="text-classic-secundary font-bold dark:text-classic-primary">Software</span> con habilidades tanto en <span class="text-classic-secundary font-bold dark:text-classic-primary">FrontEnd</span> como <span class="text-classic-secundary font-bold dark:text-classic-primary">BackEnd</span>, respaldado por s칩lidos fundamentos en <span class="text-classic-secundary font-bold dark:text-classic-primary">programaci칩n orientada a objetos</span>. Adem치s, tengo conocimientos en metodolog칤as 치giles como <span class="text-classic-secundary font-bold dark:text-classic-primary">Scrum</span>. Estoy completamente comprometido con el trabajo, siendo una persona proactiva y emp치tica, que gestiona su tiempo eficazmente, trabaja en equipo y est치 en constante aprendizaje.
  </p>  
  </div>
</section>
</div>

