
<section id="sobremi" class="w-screen h-auto mt-[-2rem] flex flex-col justify-center items-center gap-2 md:mt-10  lg:ml-20 lg:mt-14 box-border lg:flex-row-reverse lg:w-[90%] lg:h-1/2 text-classic-colorFuente lg:rounded-lg dark:text-white ">
  <div class="flex  flex-col items-center justify-center gap-6 lg:flex-col md:flex-row md:gap-6 lg:gap-4">
    <div class="w-52 h-52  lg:hidden rounded-full bg-[url('/img/Marcos.jpeg')] bg-cover bg-center md:w-44 md:h-44 ">
    </div>
    <div class="w-full md:w-1/2 flex flex-col items-center">
      <div class="flex items-center justify-center md:pl-2 w-full mb-6 lg:hidden">
        <p class="text-base font-bold md:text-xl md:w-72">Disponible para trabajar</p>
        <div class="animate-wiggle-more animate-infinite animate-duration-[2000ms] animate-delay-[400ms]">
          <a href="#contacto" class="cursor-pointer">
          <img src="../svg/llamar.svg" alt="contacto" class="ml-2">
          </a>
      </div>
      </div>
      <a class="lg:hidden" href="/Cv/Curriculum_Marcos.pdf" download>
        <button class="w-30 h-16 bg-classic-secundary -full text-classic-white cursor-pointer transition-all px-6 py-2 rounded-lg
      border-yellow-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
        active:border-b-[2px] active:brightness-90 active:translate-y-[2px]  dark:bg-classic-primary dark:border-green-900">Descargar CV</button>
      </a>
    </div>
  </div>
  <div class="w-full p-6 lg:flex-grow lg:w-1/2 lg:mt-0">
    <div class="flex items-center justify-center gap-2 flex-col lg:mb-12">
      <div class="flex items-center justify-center gap-5">
        <div class="animate-fade-up animate-duration-[1500ms] lg:animate-fade-right lg:animate-duration-[2000ms] lg:animate-delay-[400ms] lg:animate-ease-out">
          <h1 class="text-2xl font-bold text-center lg:text-3xl  md:text-3xl ">Hey 👋, Mi nombre es Marcos,</h1>
          <p class="text-2xl font-bold text-left lg:text-3xl mb-4 md:text-3xl "> Desarrollador de Software</p>
          <p class="mb-2 text-center lg:text-left">Guanacaste | Costa Rica</p>
          <div class="flex gap-5 justify-center items-center lg:justify-start">
            <div>
              <a href="https://www.instagram.com/marcos0964/" target="_blank">
                <button class="transition-transform duration-300 transform hover:scale-110"><img src="../svg/instagram.svg" alt="instagram" /></button>
              </a>
            </div>
            <div>
              <a href="https://www.linkedin.com/in/marcos-gonzalez-navarrete/" target="_blank">   
                <button class="transition-transform duration-300 transform hover:scale-110"><img src="../svg/linkedin.svg" alt="Linkedin" /></button>
              </a>
            </div>
            <div>
              <a href="https://github.com/marcos1225" target="_blank" rel="noopener noreferrer">
                <button class="transition-transform duration-300 transform hover:scale-110"><img src="../svg/github.svg" alt="github" /></button>
              </a>
            </div>
            <div>
              <a href="https://wa.me/+50663549134?text=Hola,%20estoy%20interesado%20en%20tus%20servicios" target="_blank">
                <button class="transition-transform duration-300 transform hover:scale-110">
                  <img src="../svg/whatsapp.svg" alt="whatsapp" />
                </button>
              </a>
            </div> 
          </div>
            </div>
            <div class="hidden lg:block rounded-full bg-[url('/img/Marcos.jpeg')] bg-cover bg-center md:w-44 md:h-44 lg:animate-fade-left lg:animate-duration-[2000ms] lg:animate-delay-[400ms] lg:animate-ease-out">
            </div>
      </div>
      <div class="flex items-center justify-start">
         <a class="hidden md:hidden lg:block" href="/Cv/Curriculum_Marcos.pdf" download>
          <button class="w-30 h-16 bg-classic-secundary -full text-classic-white cursor-pointer transition-all px-6 py-2 rounded-lg
          border-yellow-600 border-b-[4px] hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px]
            active:border-b-[2px] active:brightness-90 active:translate-y-[2px] text-bold dark:bg-classic-primary dark:border-green-900">Descargar CV</button>
      </a>
      <div class="hidden md:hidden lg:block">
        <div class="flex items-center justify-center w-full">
          <p class="text-base font-bold pl-9">Disponible para trabajar</p>
          <div class="animate-wiggle-more animate-infinite animate-duration-[2000ms] animate-delay-[400ms]">
            <a href="#contacto" class="cursor-pointer">
            <img src="../svg/llamar.svg" alt="contacto" class="ml-2">
            </a>
        </div>
        </div>
      </div>
      </div>
    </div>
    <p class="text-lg text-justify lg:text-justify animate-fade-up animate-duration-[1400ms]">Soy un desarrollador de Software el cual se puede desenvolver tanto en el area FrontEnd como BackEnd, con fundamentos fuertes sobre programacion orientada objetos, ademas poseo conocimientos en metodologias agiles como Scrum, totalmente comprometido con el trabajo, una persona proactiva, empatica, la cual gestiona su tiempo, trabajo en equipo y en constante aprendizaje.</p>
  </div>
</section>

