
<section id="sobremi" class="w-screen h-auto mt-[-2rem] flex flex-col justify-center items-center gap-2 md:mt-10  lg:ml-20 lg:mt-14 box-border lg:flex-row-reverse lg:w-[90%] lg:h-1/2 bg-classic-darkGray text-classic-colorFuente lg:rounded-lg">
  <div class="flex flex-col items-center justify-center gap-6 lg:flex-col md:flex-row md:gap-8 lg:gap-4">
    <div class="w-52 h-52 rounded-full bg-[url('/img/Marcos.jpeg')] bg-cover bg-center md:w-72 md:h-72  lg:w-40 lg:h-40 lg:mr-4">
    </div>
    <div class="w-full md:w-1/2 flex flex-col items-center">
      <div class="flex items-center justify-center md:pl-2 w-full mb-6 lg:hidden">
        <p class="text-base font-bold md:text-xl">Disponible para trabajar</p>
        <img src="../svg/check.svg" alt="check" class="ml-2">
      </div>
      <a class="lg:hidden" href="/Cv/Curriculum_Marcos.pdf" download>
        <button class="w-48 h-16 bg-classic-secundary rounded-full text-classic-white lg:w-40 transition-transform duration-300 transform hover:scale-105">Descargar CV</button>
      </a>
    </div>
  </div>
  <div class="w-full p-6 lg:flex-grow lg:w-1/2 lg:mt-0">
    <div class="flex items-center justify-center gap-2 flex-col lg:mb-12">
      <div>
    <h1 class="text-2xl font-bold text-center lg:text-4xl mb-4">Desarrollador De Software</h1>
      </div>
      <div class="flex items-center justify-start">
         <a class="hidden md:hidden lg:block" href="/Cv/Curriculum_Marcos.pdf" download>
        <button class="w-48 h-16 bg-classic-secundary  rounded-full text-classic-white lg:w-28 lg:text-sm transition-transform duration-300 transform hover:scale-105">Descargar CV</button>
      </a>
      <div class="hidden md:hidden lg:block">
        <div class="flex items-center justify-center w-full">
          <p class="text-base font-bold pl-9">Disponible para trabajar</p>
          <img src="../svg/check.svg" alt="check" class="ml-2">
        </div>
      </div>
      </div>
    </div>
    <p class="text-xl text-justify lg:text-justify">Soy un desarrollador de software con una sólida formación en Informática Empresarial y experiencia en el diseño de interfaces y la usabilidad. Mi carrera se ha centrado en la programación orientada a objetos y la aplicación de metodologías ágiles, particularmente SCRUM. Como desarrollador Front End junior, he trabajado en proyectos innovadores que han requerido una combinación de habilidades técnicas y creativas para crear soluciones intuitivas y eficientes.</p>
  </div>
</section>

