---
import NavBar from '../components/NavBar.astro';
import FooterPortofolio from '../components/FooterPortofolio.astro';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body class="w-full font-sans dark:bg-gray-700">
  <NavBar />
  <main >
    <slot />
  </main>
  <FooterPortofolio />
</body>
</html>

