---
import DarkMode from '../components/DarkMode';
import FooterPortofolio from '../components/FooterPortofolio.astro';
import AosInit from '../components/AosInit';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<body class="w-full font-sans dark:bg-gray-900">
    <section class="absolute top-4 right-0">
    <DarkMode  client:load/>
    </section>
     <main >
    <AosInit client:load />
    <slot />
  </main>
  <FooterPortofolio />
</body>
</html>

